spring-tag/src/main/resources/com/ternence/spring/skills/tag/tao.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.ternence.com/schema/tao"
           xmlns="http://www.ternence.com/schema/tao"
           elementFormDefault="qualified">
    <!--定义一个xml的元素-->
    <xsd:element name="instance">
        <!--complexType 元素定义复杂类型。复杂类型的元素是包含其他元素和/或属性的 XML 元素。-->
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string"/>
            <xsd:attribute name="user-name" type="xsd:string"/>
            <xsd:attribute name="email" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>